# -----------------------------
# Python: virtual env / cache
# -----------------------------
.venv/
__pycache__/
*.pyc

# -----------------------------
# Secrets / local env
# -----------------------------
.env

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VSCode
# -----------------------------
.vscode/

# -----------------------------
# Python packaging / build artifacts
# -----------------------------
*.egg-info/
dist/
build/
